<!-- ko if: visible -->
<div class="fieldset" data-bind="visible: visibleSetPasswordForm">
	<div class="row hint">
		<span data-bind="i18n: {'key': '%MODULENAME%/INFO_SET_PASSWORD'}"></span>
	</div>
	
	<div class="row">
		<span class="label" style="width: auto;" data-bind="i18n: {'key': 'CORECLIENT/LABEL_PASSWORD'}"></span>
		<span class="value">
			<input class="input" type="text" data-bind="value: password" />
		</span>
	</div>
	
	<div class="row buttons" style="text-align: left; margin-bottom: 0;">
		<span class="button" data-bind="click: setPassword">
			<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_SET_PASSWORD'}"></span>
		</span>
	</div>
</div>
<!-- /ko -->