.login_panel .social {
	margin-bottom: 10px;
	text-align: left;
	
	.info {
		color: #929292;
		font-size: 14px;
		margin: 14px 2px 10px;
		text-align: center;
	}
	
	.button {
		background-position: 8px;
		background-repeat: no-repeat;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		height: 18px;
		margin-bottom: 14px;
		padding: 10px 0;
		text-align: center;
		width: 100%;

		.text {
			font-size: 11pt;
			font-weight: bold;
		}
	}
}
